
<button class="btn btn-primary btn-circle btn-xl" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="bi bi-list" style="font-size: 1.7rem; color: white;"></i>
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">ProgettoMobility</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark text-white p-0 pt-3">
        <div class="d-grid gap-3 mx-3">
        <a class="btn btn-light" type="button" href="/profilo">
            <i class="bi bi-person-circle float-start" style="font-size: 1.5rem; color: black;"></i>
            <span class="bigger ms-3 float-start">Profilo</span>
        </a>
        <a class="btn btn-light" type="button" href="/cliente/prenotazioni">
            <i class="bi bi-book-half float-start" style="font-size: 1.5rem; color: black;"></i>
            <span class="bigger ms-3 float-start">Prenotazioni</span>
        </a>
        <a class="btn btn-light" type="button" href="/gestionemetodipagamento">
            <i class="bi bi-credit-card-fill float-start" style="font-size: 1.5rem; color: black;"></i>
            <span class="bigger ms-3 float-start">Pagamento</span>
        </a>
        <a class="btn btn-light" type="button" href="/gestionedocumenti">
            <i class="bi bi-file-earmark-person-fill float-start" style="font-size: 1.5rem; color: black;"></i>
            <span class="bigger ms-3 float-start">Documenti</span>
        </a>
        <a class="btn btn-light" type="button" href="/prenotazione">
            <i class="bi bi-geo-alt-fill float-start" style="font-size: 1.5rem; color: black;"></i>
            <span class="bigger ms-3 float-start">Mappa</span>
        </a>
        <a class="btn btn-light" type="button" href="/logout">
            <i class="bi bi bi-door-closed-fill float-start" style="font-size: 1.5rem; color: black;"></i>
            <span class="bigger ms-3 float-start">Logout</span>
        </a>
        </div>
    </div>
</div>