<html>
    <head>
        <%- include('../partials/head') -%>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <%- include('../partials/beginContainer') -%>
            <h1 class="display-4">Registrazione effettuata!</h1>
            <a href="/" class="btn" role="button">Home Page</a>
        <%- include('../partials/endContainer') -%></div>
    </body>
</html>